/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body,
button,
input,
select,
textarea {
  border: 1px solid #d6d6d6;
  color: #002949;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

img {
  height: 100%;
  width: 100%;
}

a {
  background-color: transparent;
  color: #19afd0;
  text-decoration: none;
}

a:hover, a:active {
  color: #1489a2;
  text-decoration: none;
}
#site-footer,
.site-branding {
  padding: 10px;
}

.content-area {
  padding-left: 10%;
  width: 768px}