$black:         #000;
$blue:          #19afd0;
$gray-light:    #d6d6d6;
$gray-dark:     #111;
$gray-med:      #555;
$gray-medDark:  #002949;
$gray-medLight: #999;
$offwhite-gray: #eee;
$red:           #f00;
$redDark:       #a00;
$redOff:        #faa;
$white:         #fff;
$yellow:        #eec824;

$alpha-black-20:rgba(255, 255, 255, 0.2);
$alpha-black-40:rgba(255, 255, 255, 0.4);
$alpha-blue-60: rgba(71, 183, 209, 0.6);
$alpha-blue-60: rgba(71, 183, 209, 0.6);

$spacing: 6px;