@import "_vars.scss"; // scss import of variables

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body,
button,
input,
select,
textarea {
	border: 1px solid $gray-light;
	color: $gray-medDark;
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
}

img {
	height: 100%;
	width: 100%;
}

a {
	background-color: transparent;
	color: $blue;
	text-decoration: none;
}

a:hover, a:active {
	color: darken($color: $blue, $amount: 10%);
	text-decoration: none;
}

h4 {
	font-size: 20px;
}

.wp-container-2 .wp-block-columns .wp-block-column {
	background: #3798AC;
	color: #fff;
	padding: 25px;
}

#content {
	padding: 0 10%;
}