@import "_vars.scss"; // scss import of variables

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body,
button,
input,
select,
textarea {
	border: 1px solid $gray-light;
	color: $gray-medDark;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

img {
	height: 100%;
	width: 100%;
}

a {
	background-color: transparent;
	color: $blue;
	text-decoration: none;
}

a:hover, a:active {
	color: darken($color: $blue, $amount: 10%);
	text-decoration: none;
}

h4 {
	font-size: 24px;
}

.tc-home-mission .wp-block-columns .wp-block-columns .wp-block-column {
	background: #3798AC;
	color: #fff;
	font-size: 16px;
	padding: 25px;
}

body.home .wp-block-group {
	padding: 0 10%;
}

body:not(.home) #content {
	padding: 0 10%;
}

.tc-youtube {
	width:560px;
	height:315px;
}