@import "_vars.scss"; // scss import of variables

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body,
button,
input,
select,
textarea {
	border: 1px solid $gray-light;
	color: $gray-medDark;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

img {
	height: 100%;
	width: 100%;
}

a {
	background-color: transparent;
	color: $blue;
	text-decoration: none;
}

a:hover, a:active {
	color: darken($color: $blue, $amount: 10%);
	text-decoration: none;
}

h4 {
	font-size: 24px;
}

.tc-home-mission h2 {
	font-size: 26px;
}

.tc-home-mission {
	background:url('https://translationcommons.org/wp-content/uploads/2022/05/mainbannernobright-1-scaled.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
}

.tc-home-mission .wp-block-columns .wp-block-column {
	background: #3798AC;
	color: #fff;
	font-size: 24px;
	padding: 25px;
}

body.home .wp-block-group {
	padding: 20px 10%;
}

body:not(.home) #content {
	padding: 20px 10%;
}

.tc-home-mission .wp-block-columns p {
	height:9vmax;
}
.tc-home-mission .wp-block-button__link {
	background-color: #fff;
	border-radius: 3px;
	color:#3798AC;
	font-size: 16px;
	padding: 5px;
	text-transform: uppercase;
}

.tc-home-community {
	background: #d3efef;
}

.tc-home-community h2 {
	color:		#3798ac;
}

.tc-home-community img{
	margin:		50px 0;
}

.tc-youtube {
	width:560px;
	height:315px;
}

@media screen and (max-width: 600px) {
	.tc-youtube {
		width: 280px;
		height:150px;
	}
}